loop-swapping
unroll
duffs-device
heap
mmap
transfer
prefetch
madvise
branch-prediction
mixed-mode-conjunction
transfer
clock
print
./assignment06/loop-swapping.out
./material/Chapter07/unroll.out
./material/Chapter07/duffs-device.out
./material/Chapter02/heap.out
./material/Chapter02/mmap.out
./material/Chapter02/transfer.out
./material/Chapter06/prefetch/prefetch.out
./material/Chapter06/madvise/madvise.out
./material/Chapter08/branch-prediction.out
./material/Chapter08/mixed-mode-conjunction.out
./assignment01/transfer.out
./assignment05/clock.out
./assignment02/print.out
